# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.remote
.env.development.local
.env.test.local
.env.production.local
*.env

# System Files
.DS_Store
Thumbs.db

# Build Outputs
build/
dist/
